<section>

  <h3 id="about-me">About Me</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-monitor">{% include icons/icon-monitor.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html%}</div>
    <div class="icon-photoshop">{% include icons/icon-photoshop.html %}</div>

  </div>

  <div class="blurb">
    <p><strong>I'm Noah, a 15 year old aspiring freelance designer.
        I have been desiging for
        roughly 2 years and I have
        found that this is something
        that I truly love and want to
        pursue.</strong></p>
  </div>

  <div class="my-skills">
    <h4>My Skills<h4>
  </div>



  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Efficency</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Logo Design/Branding</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Visual Design</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

  </div>

</section>
